<!DOCTYPE html>
<html>

<head>
    <title>UAV Location</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Altitude</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i<teams.length; i++){ %>
                <% const team=teams[i]; %>
                    <tr>
                        <td>
                            <%= team[0].name %>
                        </td>
                        <td id="<%= team[0].name %>Lat">
                            <%= team[0].lat %>
                        </td>
                        <td id="<%= team[0].name %>Lng">
                            <%= team[0].lng %>
                        </td>
                        <td id="<%= team[0].name %>Alt">
                            <%= team[0].alt %>
                        </td>
                    
                    </tr>
                    <% } %>
        </tbody>
    </table>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on("connect", () => {
            console.log("Connected to server");
        });

        socket.on("disconnect", () => {
            console.log("Disconnected from server");
        });

        socket.on("updateCurrentPoints", (data) => {
            const { team, point, alt } = data;
            const latElement = document.querySelector(`#${team}Lat`);
            const lngElement = document.querySelector(`#${team}Lng`);
            const altElement = document.querySelector(`#${team}Alt`);
            latElement.innerHTML = point.lat;
            lngElement.innerHTML = point.lng;
            altElement.innerHTML = alt;
        });

        setInterval(() => {
            console.log("Requesting update from server");
            socket.emit("requestUpdate");
        }, 2000);
    </script>
</body>

</html>